# Ignore node_modules (for Node.js projects)
node_modules/

# Ignore build outputs
dist/
build/

# Ignore environment files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore project setting
.classpath
.project
.settings/
.idea
.idea/*

node_modules/
playwright-report/
test-results/
dist/

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
